.hide {
    display: none;
}

.float-right-bottom {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 200;
}

.float-right-top {
    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 200;
}

#map {
    z-index: 1;
}