body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.filter {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 100
}

.mapboxgl-popup {
    max-width: 400px !important;
}

.legend {
    z-index: 200;
    height: 200px;
    width: 30px;
    position: fixed;
    left: 40px;
    bottom: 40px;
    background-color: white;
    border: 2px solid white;
}

.mapboxgl-marker {
    background: yellowgreen;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}